<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div>
    <a href="/">Home</a>

    {% if request.user.is_authenticated%}
        {{ request.user.email }}
        <a href="{% url 'currency:my_profile' request.user.id %}">MyProfile</a>
        <a href="{% url 'logout' %}">LogOut</a>
    {% else %}
        <a href="{% url 'login' %}">LogIn</a>
        <a href="#">SingUp</a>
    {% endif %}


</div>

{% block main_content%}

{% endblock main_content %}

</body>
</html>