{% extends 'base.html' %}

{% block main_content %}
  <div><a href="{% url 'currency:rate_create' %}">Create new rate</a></div>

    <table>
      <tr>
        <th>Id</th>
        <th>Base_currency_type</th>
        <th>Currency_type</th>
        <th>Sale</th>
        <th>Buy</th>
        <th>Source</th>
        <th>Created</th>
      </tr>
      {% for rate in rate_list %}
          <tr>
            <th>{{rate.id}}</th>
            <td>{{rate.base_currency_type}}</td>
            <td>{{rate.currency_type}}</td>
            <td>{{rate.sale}}</td>
            <td>{{rate.buy}}</td>
            <td>{{rate.source}}</td>
            <td>{{rate.created}}</td>
            <td><a href="{% url 'currency:rate_details' rate.id %}"> view details </a>
              <a href="{% url 'currency:rate_update' rate.id %}"> edit </a>
              <a href="{% url 'currency:rate_delete' rate.id %}"> delete </a>
            </td>
          </tr>
      {% endfor %}
    </table>

{% endblock main_content %}
