{% extends 'base.html' %}

{% block main_content %}
<div><a href="/source/create">Create new </a></div>
    <table>
      <tr>
        <th>#</th>
        <th>Name</th>
        <th>Source URL</th>
      </tr>
      {% for source in source_list %}
          <tr>
            <th>{{source.id}}</th>
            <td>{{source.name}}</td>
            <td>{{source.source_url}}</td>
            <td>
                <a href="/source/update/{{source.id}}"> update </a>
                <a href="/source/delete/{{source.id}}"> delete </a>
            </td>
          </tr>
      {% endfor %}
    </table>

{% endblock main_content %}
