{% extends 'base.html' %}

{% block main_content %}
<a class="btn btn-primary"
   role="button"
   href="{% url 'currency:source_create' %}">Create new rate</a>
<div class="container mt-3">
        <h2>Rates List</h2>
    <table class="table table-dark table-hover">

      <tr>
        <th>#</th>
        <th>Name</th>
        <th>Source URL</th>
        <th>Logo</th>
        <th>Options</th>
      </tr>
      {% for source in source_list %}
          <tr>
            <th>{{source.id}}</th>
            <td>{{source.name}}</td>
            <td>{{source.source_url}}</td>
            <td><img src="{{ source.logo.url }}" height="30" width="30"></td>
            <td>
                <a href="{% url 'currency:source_update' source.id %}"> update </a>
                <a href="{% url 'currency:source_delete' source.id %}"> delete </a>
            </td>
          </tr>
      {% endfor %}
    </table>

{% endblock main_content %}
